@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareR.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareB.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareB.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/nanum-square/NanumSquareEB.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}